* {
  margin: 0;
  padding: 0;
}
/* font-family: 'Red Hat Display', sans-serif; */

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./images/pattern-background-desktop.svg");
  font-family: "Red Hat Display", sans-serif;
}

.main {
  width: 500px;
  height: 750px;
  background-color: hsl(225, 100%, 98%);
  border-radius: 20px;
}
.img-container {
  height: 244.5px;
}

img {
  width: 500px;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.text-container {
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.heading {
  font-weight: 900;
  font-size: 26px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  margin-top: 10px;
  color: hsl(223, 47%, 23%);
}
.info {
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  font-size: 18px;
  color: hsl(229, 9%, 65%);
}
.summary {
  background-color: hsl(229, 58%, 96%);
  height: 90px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  margin-top: 40px;
  margin-left: 70px;
  margin-right: 70px;
}
.svg {
  margin-left: 15px;
}
.plan {
  margin-left: 20px;
}
.annual {
  font-weight: 700;
}
.year {
  font-size: 15px;
  color: hsl(229, 9%, 65%);
}

.a-change {
  margin-left: 115px;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  color: hsl(245, 75%, 52%);
}
.a-change:visited {
  color: hsl(245, 75%, 52%);
}
.a-change:hover {
  text-decoration-line: none;
  color: hsl(229, 9%, 65%);
}
.btn-proceed {
  display: block;
  width: 420px;
  height: 50px;
  margin-left: 40px;
  margin-top: 40px;
  border-radius: 15px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  background-color: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 98%);
  box-shadow: 0px 16px 12px hsl(229, 28%, 88%);
}
.btn-proceed:hover {
  background-color: hsl(212, 71%, 62%);
}
.btn-cancel {
  font-size: 18px;
  font-weight: 700;
  margin-left: 190px;
  margin-top: 30px;
  background-color: transparent;
  border: none;
  color: hsl(229, 9%, 65%);
}
.btn-cancel:hover {
  color: hsl(223, 47%, 23%);
}
